.container-rewiew-page-form {
    padding: 79px 0 100px;
}

.form__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 56px;
    text-transform: uppercase;
    color: #202020;
}

.form__controls-title {
    font-size: 18px;
    text-align: left;
    color: #1A1B1E;
    width: 38%;
    align-items: center;
}

.form__controls {
    display: flex;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 28px;
}

.form__input {
    flex: 1;
    margin-right: 2%;
    background: #FFF;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input-textarea {
    min-height: 234px;
    padding: 30px 30px;
}

.controls__tag {
    background: #E7E7E7;
}

.controls__item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.control__elem {
    cursor: pointer;
}

.controls__checkbox:checked~.controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

.controls__button {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.button {
    width: 168px;
    height: 55px;
    border-radius: 35px;
    border: none;
    line-height: 55px;
    cursor: pointer;
    outline: none;
}

.button-orange,
.button-grey {
    margin-left: 12px;
    width: 168px;
    color: #FFF;
}

.button-grey {
    background: #8E8E8E;
}

.button-orange {
    background: #FF5500;
}

.button-grey:active {
    background: #2B2B2B;
}

.button-orange:active {
    background: #FF3D00;
}

.form__input:focus {
    outline-color:#CCCCCC;
}