.section-page-content {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 84px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 18px;
}

.services__content {
    color: #000000;
}

.services__pic {
    width: 100%;
    height: 100%;
}

.services__item {
    display: flex;
    margin-bottom: 47px;
}

.services__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 55px 19px;
}

.paginator__display-services-page,
.paginator__link-services {
    color: #000;
}

.paginator__link-services:hover {
    color: #FFF;
}