.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__display,
.paginator__list {
    line-height: 32px;
}

.paginator__display {
    width: 146px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: .4s;
}

.paginator__link {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.paginator__item:hover {
    background-color: #FF5500;
    transition: .6s;
}